@{
    ViewBag.Title = "图片类列表页";
}

<style type="text/css">
    .layui-table-cell {
        height: auto;
    }
</style>

<div class="layui-form layui-card-header layuiadmin-card-header-auto" style="height:25px;">
    <div class="demoTable">
        <div class="layui-inline">
            <label class="layui-form-label">关键字：</label>
            <div class="layui-input-block">
                <input type="text" name="KeyStr" placeholder="图片标题/摘要" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline" style="vertical-align:baseline;">
            <button class="layui-btn" lay-submit lay-filter="image-search">搜索</button>
        </div>
    </div>
</div>

<table class="layui-hide" id="ImgList" lay-filter="ImgList"></table>

@*状态模板*@
<script type="text/html" id="StatusTpl">
    <input type="checkbox" name="Status" value="{{d.ID}}" lay-skin="switch" lay-text="正常|已停用" lay-filter="StatusDemo" {{ d.Status == 1 ? 'checked' : '' }}>
</script>

<script type="text/html" id="ToolbarBtn">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="AddImage">新增图片</button>
        <button class="layui-btn layui-btn-sm" lay-event="DeleteImage">批量删除</button>
    </div>
</script>

<script type="text/html" id="ActionBtn">
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use('table', function () {
        var $ = layui.$;
        var form = layui.form;
        var table = layui.table;
        //监听搜索
        form.on('submit(image-search)', function (data) {
            var field = data.field;
            //执行重载
            table.reload('ImgList', {
                page: {
                    curr: 1 //重新从第 1 页开始
                },
                where: field
            });
        });
        table.render({
            elem: '#ImgList'
            , height: 'auto'
            , url: '@Html.RootPath()/SiteInfoManagement/GetImagePageList?ID=@ViewBag.id' //数据接口
            , toolbar: '#ToolbarBtn'
            //, page: true //开启分页
            , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['prev', 'page', 'next', 'skip', 'count', 'limit'] //自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                , groups: 8 //显示 8 个连续页码
                , first: true //不显示首页
                , last: true //不显示尾页
                , prev: '上一页'
                , next: '下一页'
            }
            //, where: { pxid: data.value } //扩展参数,可以传数据到后台
            , limit: 10 //一页能够显示的最大数目
            , even: true    //隔行换色
            , skin: 'line ' //表格风格 line （行边框风格）row （列边框风格）nob （无边框风格）
            , limits: [10, 20,30,50]  //每页条数的选择项，默认：[10,20,30,40,50,60,70,80,90]。
            //, limit: 10 //每页默认显示的数量
            , method: 'post'  //提交方式
            , cols: [[ //表头
                { type: 'checkbox' }
                , { field: 'ID', title: 'ID', width: 80,align: 'center', sViewBagyle: 'text-align:center;', sort: true }
                , { field: 'Title', title: '图片预览', width: 200, align: 'center', style: 'text-align:center;', templet: '<div><img src="{{d.ImagePath}}" style="height:auto;width:auto;max-height:100%;max-width:100%;" /></div>' }
                , { field: 'Title', title: '图片标题', width: 200, align: 'center',  style: 'text-align:center;' }
                , { field: 'LinkUrl', title: '图片外链', width: 200, align: 'center', style: 'text-align:center;' }
                , { field: 'ChannelName', title: '所属栏目', width: 100, align: 'center',  style: 'text-align:center;', sort: true }
                , { field: 'AddTime', title: '创建时间', width: 150, align: 'center', style: 'text-align:center;', sort: true, templet: '<div>{{ layui.util.toDateString(d.AddTime, "yyyy-MM-dd HH:mm") }}</div>' }
                , { field: 'Status', title: '状态', width: 100, align: 'center', templet: '#StatusTpl', unresize: true }
                , { field: 'Clicks', title: '点击次数', width: 100, style: 'text-align:center;', sort: true }
                , { fixed: 'right', title: '操作', toolbar: '#ActionBtn', width: 120, align: 'center' }
            ]]
        });

        //获取URL参数值
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }

        //头工具栏事件
        table.on('toolbar(ImgList)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'AddImage':
                    layer.open({
                      type: 2
                    , title: '新增图片类资讯'
                    , shadeClose: true //点击遮罩区域是否关闭页面
                    , shade: 0.8  //遮罩透明度
                    , content: '/SiteInfoManagement/ImageEdit?ChannelID=' + getQueryString("id")
                    , maxmin: true
                    , offset:'l'
                    , area: ['850px', '820px']
                });
                    break;
                case 'DeleteImage':
                    var checkData = checkStatus.data;
                    if (checkData.length === 0) {
                        return layer.msg('请选择需要删除的数据！', { icon: 7, offset: 't' });
                    }
                    else {
                        var IdStr = "";
                        for (var i = 0; i < checkData.length; i++) {
                            IdStr += checkData[i].ID + ",";
                        }
                        layer.confirm('确定要删除选中的数据吗？', { icon: 3 }, function (index) {
                            $.ajax({
                                type: 'POST',
                                url: '@Html.RootPath()/SiteInfoManagement/DeleteImageAjax',
                                data: { 'KeyStr': IdStr },
                                dataType: 'json',
                                success: function (res) {
                                    if (res.code == "1") {
                                        layer.msg("已删除！", { icon: 1, offset: 't' });
                                        table.reload('ImgList', {});
                                    }
                                    else {
                                        layer.msg("删除失败！", { icon: 2, offset: 't' });
                                    }
                                },
                                error: function (data) {
                                    console.log(data.msg);
                                },
                            });
                        });
                    }
                    break;
            };
        });
        //监听行工具事件
        table.on('tool(ImgList)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('确定要删除此图片资讯吗？', { icon: 3 }, function (index) {
                    $.ajax({
                        type: 'POST',
                        url: '@Html.RootPath()/SiteInfoManagement/DeleteImageAjax',
                        data: { 'KeyStr': data.ID },
                        dataType: 'json',
                        success: function (res) {
                            if (res.code == "1") {
                                layer.msg("已删除！", { icon: 1, offset: 't' });
                                table.reload('ImgList', {}); //数据刷新
                                obj.del();
                            }
                            else {
                                layer.msg("删除失败！", { icon: 2, offset: 't' });
                            }
                        },
                        error: function (data) {
                            console.log(data.msg);
                        },
                    });
                    layer.close(index);
                });
            }
            else if (obj.event === 'edit') {
                layer.open({
                      type: 2
                    , title: '修改图片类资讯'
                    , shadeClose: true //点击遮罩区域是否关闭页面
                    , shade: 0.8  //遮罩透明度
                    , content: '/SiteInfoManagement/ImageEdit?ChannelID=' + getQueryString("id") + '&ID=' + data.ID
                    , maxmin: true
                    , offset:'l'
                    , area: ['850px', '820px']
                });
            }
        });

        //监听状态操作
        form.on('switch(StatusDemo)', function (data) {
            var status = false;
            if (data.elem.checked) {
                status = true;
            }
            $.ajax({
                type: 'POST',
                url: '@Html.RootPath()/SiteInfoManagement/ChangeChannelContentStatus',
                data: { 'ID': this.value, 'ContentType': 3, 'Status': status },
                dataType: 'json',
                success: function (res) {
                    if (res.code == "1") {
                        layer.tips('操作成功', data.othis);
                    }
                },
                error: function (data) {
                    console.log(data.msg);
                },
            });
        });
    });
</script>