@model XAdmin.Model.SiteModel
@{
    ViewData["Title"] = "主持人";
}
<script src="~/Script/jquery/1.9.1/jquery.js"></script>
<link href="~/slideTab/css/slide.css" rel="stylesheet" />
<script src="~/slideTab/js/slide.js"></script>

<div style="width:1300px;margin-left:auto; margin-right:auto; border:0px solid blue;">
    <div class="slideTab">
        <div class="title cf">
            <h2 class="fl">主持人</h2>
            <ul class="title-list fr cf">
                <li id="channel16" class="on">电视台主持人</li>
                <li id="channel17">北京主持人</li>
                <li id="channel18">双语主持人</li>
                <li id="channel19">地方主持人</li>
                <li id="channel20">婚礼主持人</li>
                <li id="channel21">带货主持人</li>
                <p><b></b></p>
            </ul>
        </div>
        <div class="product-wrap">
            <!--央视主持人-->
            <div id="div16" class="product show">
                <ul id="ul16" class="cf">

                </ul>
                <div id="page16" style="position:relative;left:40%;top:555px;"></div>
            </div>
            <!--北京主持人-->
            <div id="div17" class="product">
                <ul id="ul17" class="cf"></ul>
                <div id="page17" style="position:relative;left:40%;top:555px;"></div>
            </div>
            <!--双语主持人-->
            <div id="div18" class="product">
                <ul id="ul18" class="cf"></ul>
                <div id="page18" style="position:relative;left:40%;top:555px;"></div>
            </div>
            <!--地方主持人-->
            <div id="div19" class="product">
                <ul id="ul19" class="cf"></ul>
                <div id="page19" style="position:relative;left:40%;top:555px;"></div>
            </div>
            <!--婚礼主持人-->
            <div id="div20" class="product">
                <ul id="ul20" class="cf"></ul>
                <div id="page20" style="position:relative;left:40%;top:555px;"></div>
            </div>
            <!--带货主持人-->
            <div id="div21" class="product">
                <ul id="ul21" class="cf"></ul>
                <div id="page21" style="position:relative;left:40%;top:555px;"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var ChannelID = "@ViewBag.ChannelID";
        $("#channel16").removeClass("on");
        $("#channel" + ChannelID).addClass("on");
        $("#div16").removeClass("show");
        $("#div" + ChannelID).addClass("show");

        var liindex = $('.on').index();
        $(this).addClass('on').siblings().removeClass('on');
        $('.product-wrap div.product').eq(liindex).fadeIn(150).siblings('div.product').hide();
        var liWidth = $('.title-list li').width();
        $('.slideTab .title-list p').stop(false, true).animate({ 'left': liindex * liWidth + 'px' }, 300);
    });
</script>

<script>
    $(function () {
        initLayPage(null, 16);
        initLayPage(null, 17);
        initLayPage(null, 18);
        initLayPage(null, 19);
        initLayPage(null, 20);
        initLayPage(null, 21);
    });

    function initLayPage(pageConf, channelID) {
            if (!pageConf) {
                pageConf = {};
                pageConf.ID = channelID;
                pageConf.page = 1;
                pageConf.limit = 4;
            }
            $.post("/Host/GetImagePageList?ID=" + channelID, pageConf, function (data) {
                layui.config({
                    base: '../layuiadmin/' //静态资源所在路径
                }).extend({
                    index: 'lib/index' //主入口模块
                }).use(['laypage'], function () {
                    var page = layui.laypage;
                    page.render({
                        elem: 'page' + pageConf.ID,
                        count: data.count,
                        curr: pageConf.page,
                        limit: pageConf.limit,
                        first: "首页",
                        last: "尾页",
                        jump: function (obj, first) {
                            if (!first) {
                                pageConf.page = obj.curr;
                                pageConf.limit = obj.limit;
                                initLayPage(pageConf);
                            }
                        }
                    });
                    fillData(data.list, pageConf.ID);
                })
            });
        }

        function fillData(data, channelID) {
            $("#ul" + channelID).html("");
            var html = "";
            for (var i = 0; i < data.length; i++) {
                html += "<li style='border-color:rgb(250, 250, 250);' onmouseover='mouseover(this)' onmouseout='mouseout(this)'>";
                html += "<div style='float:left;'>";
                html += "<a href='/Home/Show?ChannelID=21&itemid=" + data[i].ID + "' class='imgwrap' target='_blank'><img src='@Html.AdminUrl()" + data[i].ImagePath + "' style='width:200px; height:250px;'></a>";
                html += "</div><div style='width:370px;float:left;margin-top:5px;'>";
                html += "<p>姓名：" + data[i].Title + "</p><p>从业时长：" + data[i].LinkUrl+"</p >";
                html += "<p>简介：" + data[i].Abstruct + "</p></div>";
                html += "<div style='position:relative;top:135px;left:300px;'>";
                html += "<input type='button' value='点击预定' onclick='yuding(" + channelID+"," + data[i].ID+")' style='border:0px;background-color:#eccd50;width:70px;height:32px;cursor:pointer;'/>";
                html += "</div >";
                html += "</li>";
            }
            $("#ul" + channelID).html(html);
        }

    function yuding(ChannelID, id) {
        layer.open({
            type: 2
            , title: '预定'
            , shadeClose: true //点击遮罩区域是否关闭页面
            , shade: 0.8  //遮罩透明度
            , content: '/Home/YuDing?ChannelID=' + ChannelID + '&itemid=' + id
            , maxmin: true
            //, offset:'l'
            , area: ['660px', '500px']
        });
    }

    function mouseover(obj) {
        $(obj).css("box-shadow","0 0 5px #ff6600");
    }

    function mouseout(obj) {
        $(obj).css("box-shadow","");
    }

</script>



