@{
    ViewBag.Title = "表单类别";
}
<div class="layui-form layui-card-header layuiadmin-card-header-auto" style="height:25px;">
    <div class="demoTable">
        <div class="layui-inline">
            <label class="layui-form-label">类别名称：</label>
            <div class="layui-input-block">
                <input type="text" name="KeyStr" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline" style="vertical-align:baseline;">
            <button class="layui-btn" lay-submit lay-filter="formType-search" style="margin-bottom: 7px;">搜索</button>
        </div>
    </div>
</div>

<table class="layui-hide" id="FormTypeList" lay-filter="FormTypeList"></table>

<script type="text/html" id="ToolbarBtn">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="AddFormType">新增表单类别</button>
    </div>
</script>

<script type="text/html" id="ActionBtn">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use('table', function () {
        var $ = layui.$;
        var form = layui.form;
        var table = layui.table;
        //监听搜索
        form.on('submit(formType-search)', function (data) {
            var field = data.field;
            //执行重载
            table.reload('FormTypeList', {
                page: {
                    curr: 1 //重新从第 1 页开始
                },
                where: field
            });
        });
        table.render({
            elem: '#FormTypeList'
            , height: 'auto'
            , url: '@Html.RootPath()/WorkFlow/GetFormTypeList' //数据接口
            , toolbar: '#ToolbarBtn'
            //, page: true //开启分页
            , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['prev', 'page', 'next', 'skip', 'count', 'limit'] //自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                , groups: 8 //显示 8 个连续页码
                //, first: true //不显示首页
                //, last: true //不显示尾页
                , prev: '上一页'
                , next: '下一页'
            }
            //, where: { pxid: data.value } //扩展参数,可以传数据到后台
            , limit: 100 //一页能够显示的最大数目
            , even: true    //隔行换色
            , skin: 'line ' //表格风格 line （行边框风格）row （列边框风格）nob （无边框风格）
            //, limits: [10, 20,30,50]  //每页条数的选择项，默认：[10,20,30,40,50,60,70,80,90]。
            //, limit: 10 //每页默认显示的数量
            , method: 'post'  //提交方式
            , cols: [[ //表头
                  { type: 'checkbox' }
                , { field: 'ID', title: 'ID', width: 80, style: 'text-align:center;', sort: true }
                , { field: 'FormTypeName', title: '表单类别名称', width: 200, style: 'text-align:center;' }
                , { field: 'Note', title: '描述', width: 350, style: 'text-align:left;' }
                , { field: 'AddDate', title: '创建时间', width: 150, style: 'text-align:center;',templet: '<div>{{ layui.util.toDateString(d.AddDate, "yyyy-MM-dd HH:mm") }}</div>' }
                , { fixed: 'right', title: '操作', toolbar: '#ActionBtn', width: 120 }
            ]]
        });

        //头工具栏事件
        table.on('toolbar(FormTypeList)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'AddFormType':
                    layer.open({
                    type: 2
                    , title: '新增表单类别'
                    , shadeClose: true
                    , shade: 0.8
                    , content: '@Html.RootPath()/WorkFlow/FormTypeEdit'
                    , maxmin: true
                    //, offset: 'l'
                    , area: ['500px', '260px']
                });
                    break;
            };
        });
        //监听行工具事件
        table.on('tool(FormTypeList)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('确定要删除此表单类别吗？', { icon: 3 }, function (index) {
                    $.ajax({
                        type: 'POST',
                        url: '@Html.RootPath()/WorkFlow/DeleteFormType',
                        data: { 'Int32Key': data.ID },
                        dataType: 'json',
                        success: function (res) {
                            if (res.code == "1") {
                                layer.msg("已删除！", { icon: 1, offset: 't' });
                                table.reload('FormTypeList', {}); //数据刷新
                                obj.del();
                            }
                            else {
                                layer.msg("删除失败！", { icon: 2, offset: 't' });
                            }
                        },
                        error: function (data) {
                            console.log(data.msg);
                        },
                    });
                    layer.close(index);
                });
            }
            else if (obj.event === 'edit') {
                layer.open({
                    type: 2
                    , title: '修改表单类别'
                    , shadeClose: true
                    , shade: 0.8
                    , content: '@Html.RootPath()/WorkFlow/FormTypeEdit?ID='+ data.ID
                    , maxmin: true
                    //, offset: 'l'
                    , area: ['500px', '260px']
                });
            }
        });
    });
</script>